# Generated logs
*.log
log.txt

# Python tools
.pytest_cache/
.ipynb_checkpoints/

# Build output
build/

# macOS and Windows files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/
.venv/

# Others
*.AppImage