# Generated logs
*.log
log.txt

# Cache and temporary files
.pytest_cache/
.ipynb_checkpoints/
*.pyc
pycache/

# Build output
build/

# macOS and Windows files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/
.venv/
pycache/

# Others
*.AppImage